@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

h1 {
    font-family: Nunito;
}

h2 {
    font-family: Nunito;
}

p {
    font-family: Nunito;
}

#click {
    font-family: Nunito;
}